In [13]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 1.2 MB/s eta 0:00:01    |██▊                             | 1.0 MB 1.1 MB/s eta 0:00:10     |████▉                           | 1.8 MB 1.1 MB/s eta 0:00:10     |███████████                     | 4.1 MB 1.1 MB/s eta 0:00:08     |█████████████████████▌          | 7.9 MB 844 kB/s eta 0:00:05     |██████████████████████████▎     | 9.7 MB 354 kB/s eta 0:00:06
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247948 sha256=7cd9866c95f9186637aff9d14d96981f477466b92559f0cc8fbc5dd2c3011bde
  Stored in directory: /home/jovyan/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.1-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 202 kB/s eta 0:00:01     |▌                               | 163 kB 549 kB/s eta 0:00:18     |████                            | 1.2 MB 98 kB/s eta 0:01:27     |██████                          | 1.8 MB 130 kB/s eta 0:01:01     |██████████▋                     | 3.2 MB 101 kB/s eta 0:01:04     |█████████████▏                  | 4.0 MB 112 kB/s eta 0:00:51     |█████████████▎                  | 4.0 MB 112 kB/s eta 0:00:51     |███████████████▌                | 4.7 MB 233 kB/s eta 0:00:22     |███████████████▋                | 4.7 MB 233 kB/s eta 0:00:22     |████████████████                | 4.8 MB 159 kB/s eta 0:00:31     |████████████████▎               | 4.9 MB 132 kB/s eta 0:00:36     |████████████████████▏           | 6.1 MB 137 kB/s eta 0:00:27     |█████████████████████▎          | 6.5 MB 353 kB/s eta 0:00:10     |██████████████████████          | 6.6 MB 353 kB/s eta 0:00:09     |██████████████████████████▍     | 8.0 MB 56 kB/s eta 0:00:30
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.0-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 1.0 MB/s eta 0:00:01    |████████▍                       | 4.0 MB 1.2 MB/s eta 0:00:10     |█████████████                   | 6.2 MB 1.1 MB/s eta 0:00:09     |█████████████▋                  | 6.5 MB 1.1 MB/s eta 0:00:09     |███████████████▎                | 7.3 MB 1.3 MB/s eta 0:00:07     |████████████████████████▏       | 11.6 MB 1.2 MB/s eta 0:00:04     |███████████████████████████▊    | 13.3 MB 210 kB/s eta 0:00:10     |█████████████████████████████▎  | 14.1 MB 1.3 MB/s eta 0:00:02
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.0 pandas-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-3.0.0-cp38-cp38-manylinux2014_x86_64.whl (20.7 MB)
     |████████████████████████████████| 20.7 MB 263 kB/s eta 0:00:011     |███████████████▊                | 10.2 MB 11.7 MB/s eta 0:00:01     |█████████████████               | 11.0 MB 11.7 MB/s eta 0:00:01     |█████████████████████████▌      | 16.5 MB 2.7 MB/s eta 0:00:02     |██████████████████████████▋     | 17.2 MB 2.7 MB/s eta 0:00:02     |███████████████████████████▋    | 17.9 MB 2.5 MB/s eta 0:00:02     |████████████████████████████▎   | 18.3 MB 2.5 MB/s eta 0:00:01     |███████████████████████████████▌| 20.4 MB 2.5 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.8/site-packages (from pyarrow) (1.20.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import create_engine

In [2]:
source = create_engine('mysql+mysqlconnector://test:test123@bi-1_db_1/test')

In [3]:
import pandas as pd

pd.read_sql('select current_date', con=source)

  current_date
0   2021-02-01

In [4]:
df = pd.read_parquet('data.parquet', engine='pyarrow')
df

,vendor_id,pickup_at,dropoff_at,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.300000,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.00,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.300000,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.40,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.799999,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.300000,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.70,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.950000,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941019,1,2019-06-30 23:23:03,2019-06-30 23:39:48,1,0.90,1,N,68,158,1,11.0,3.0,0.5,2.00,0.0,0.3,16.799999,2.5
6941020,1,2019-06-30 23:50:22,2019-06-30 23:57:01,1,0.50,1,N,246,90,2,6.0,3.0,0.5,0.00,0.0,0.3,9.800000,2.5
6941021,1,2019-06-30 23:58:32,2019-07-01 00:00:42,1,0.20,1,N,90,186,1,3.5,3.0,0.5,1.45,0.0,0.3,8.750000,2.5
6941022,2,2019-06-30 23:23:10,2019-06-30 23:30:45,1,1.38,1,N,140,163,1,7.5,0.5,0.5,2.26,0.0,0.3,13.560000,2.5
6941023,2,2019-06-30 23:39:13,2019-06-30 23:44:56,2,1.77,1,N,142,151,1,7.0,0.5,0.5,1.00,0.0,0.3,11.800000,2.5

In [5]:
df.dtypes

vendor_id                        object
pickup_at                datetime64[ns]
dropoff_at               datetime64[ns]
passenger_count                    int8
trip_distance                   float32
rate_code_id                     object
store_and_fwd_flag               object
pickup_location_id                int32
dropoff_location_id               int32
payment_type                     object
fare_amount                     float32
extra                           float32
mta_tax                         float32
tip_amount                      float32
tolls_amount                    float32
improvement_surcharge           float32
total_amount                    float32
congestion_surcharge            float32
dtype: object

In [28]:
# file = open('file.txt', 'r')
# file.readlines()
# file.close()

# with open('file.txt', 'r') as file:
#     file.readlines()

# fdkjfdkjf

In [6]:
print(pd.io.sql.get_schema(df.reset_index(), 'test.dataparquet', con=source))

CREATE TABLE `test.dataparquet` (
	`index` BIGINT,
	vendor_id TEXT,
	pickup_at DATETIME,
	dropoff_at DATETIME,
	passenger_count BIGINT,
	trip_distance FLOAT(23),
	rate_code_id TEXT,
	store_and_fwd_flag TEXT,
	pickup_location_id INTEGER,
	dropoff_location_id INTEGER,
	payment_type TEXT,
	fare_amount FLOAT(23),
	extra FLOAT(23),
	mta_tax FLOAT(23),
	tip_amount FLOAT(23),
	tolls_amount FLOAT(23),
	improvement_surcharge FLOAT(23),
	total_amount FLOAT(23),
	congestion_surcharge FLOAT(23)
)

In [ ]:
with source.begin() as transaction:
#     transaction.execute('DELETE FROM test.dataparquet')
    df.to_sql('dataparquet', con=transaction, schema='test', if_exists='append', index=False)